header{
    background-color: #0CC0DF;
}
footer{
    background-color: #0CC0DF;
}

.footer-columns{
    display: flex;
}
.footer-column{
    flex: 50%;
    margin: 200px;
}

.logo{
    width: 150px;
    height: 150px;
}