header{
    background-color: #0CC0DF;
}
footer{
    background-color: #0CC0DF;
}

.footer-columns{
    display: flex;
}
.footer-column{
    flex: 50%;
    margin: 250px;
}

.logo{
    width: 200px;
    height: 200px;
}
main{
    padding: 10px;
    background-color: antiquewhite  ;
}
.post{
    background-color: aliceblue ;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;

}
.post img{
    margin: 20px;

}